{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


{% if 'username' not in session %}
<div class="container">
    <h1>{{item.name}}</h1>
    <blockquote>
        <p> {{item.description}}</p>
    </blockquote>
    {%else%}
    <h1>{{item.name}}</h1>
    <blockquote>
        <p> {{item.description}}</p>
    </blockquote>
    <a href="{{url_for('update_item',category_name=category.name, item_name=item.name)}}">Edit</a>
    <a href="{{url_for('delete_item',category_name=category.name, item_name=item.name)}}">Delete</a>
</div>
{%endif%}

{%endblock%}